@model  Projet_pilate.Models.ActivityExportModel
@{
    ViewBag.Title = "ExportTest";
    Layout = null;
}

    <table style="background-color: white; width: 100%;">
        <tr>
            <td style="padding-left: 20px;">
                Période
            </td>
            <td style="padding-left: 20px;">
                @Html.DisplayFor(m => Model.periode)
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px;">
                Client
            </td>
            <td style="padding-left: 20px;">
                Client
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px;">
                Société émettrice
            </td>
            <td style="padding-left: 20px;">
                B2DIGIT
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px;">
                Contact
            </td>
            <td style="padding-left: 20px;">
                Contact
            </td>
        </tr>


    </table>

