@{
    ViewBag.Title = "Rapports";
    Layout = "~/Views/Shared/_particular.cshtml";
}

<div class="col-md-12"><h2>Rapports</h2></div>
<script type="text/javascript" src="~/Scripts/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#firstTab">FAE</a></li>
    <li><a data-toggle="tab" href="#secondTab">Factures émises</a></li>
    <li style="visibility:hidden"><a data-toggle="tab" href="#thirdTab">Factures payées</a></li>

</ul>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="tab-content">
    <div id="firstTab" class="tab-pane fade in active" style="margin-top:40px">111111</div>
    <div id="secondTab" class="tab-pane fade in " style="margin-top:40px">22222</div>
    <div id="thirdTab" class="tab-pane fade in " style="margin-top:40px">333333</div>


</div>