<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9d6ba770-c5aa-4766-bca0-d996161cd9cc/resourcegroups/setiRessources/providers/Microsoft.Web/sites/Projet-pilate20200429031923</ResourceId>
    <ResourceGroup>setiRessources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projet-pilate20200429031923.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projet-pilate20200429031923.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Projet-pilate20200429031923</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Projet-pilate20200429031923</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:projet-pilate20200429031923dbserver.database.windows.net,1433;Initial Catalog=Projet-pilate20200429031923_db;User ID=SetiDev16@projet-pilate20200429031923dbserver;Password=Pilate16*" Name="Data Source=tcp:projet-pilate20200429031923dbserver.database.windows.net,1433;Initial Catalog=Projet-pilate20200429031923_db;User Id=SetiDev16@projet-pilate20200429031923dbserver;Password=Pilate16*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Projet_pilate.Models.ApplicationDbContext, Projet-pilate" MigrationConfiguration="Projet_pilate.Migrations.Configuration, Projet-pilate" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projet-pilate20200429031923dbserver.database.windows.net,1433;Initial Catalog=Projet-pilate20200429031923_db;User Id=SetiDev16@projet-pilate20200429031923dbserver;Password=Pilate16*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>