@using Microsoft.AspNet.Identity
@using Projet_pilate.Models;



@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
   
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                ApplicationDbContext db = new ApplicationDbContext();
                var id = User.Identity.GetUserId();
                string name = "";
                try
                {
                    var user = db.Users.Single(u => u.Id == id);
                    name = user.FirstName + " " + user.LastName;
                }
                catch (Exception) { }

                <a href="#">Bonjour @name !</a>
            }

        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
