
@{
    ViewBag.Title = "Factures";
    Layout = "~/Views/Shared/_particular.cshtml";
}

<div class="col-md-10"><h2>Factures</h2></div>


<div class="col-md-2" style="margin-top:20px; margin-bottom:20px">
    @Html.ActionLink("Créer un nouveau", "CreerFact", "Facture", new { @class = "btn btn-primary btn-large" })
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#firstTab">Liste des factures</a></li>
    <li><a data-toggle="tab" href="#secondTab">Factures facturées</a></li>
</ul>
<div class="tab-content">
    <div id="firstTab" class="tab-pane fade in active" style="margin-top:40px">@Html.Action("ListeFactures")</div>
    <div id="secondTab" class="tab-pane fade in" style="margin-top:40px">@Html.Action("FacturesEmise")</div>
</div>